In [1]:
conjunto = set()

In [3]:
conjunto = {1,2,3}
conjunto

{1, 2, 3}

In [6]:
conjunto.add(4)
conjunto

{1, 2, 3, 4}

In [7]:
conjunto.add(0)
conjunto

{0, 1, 2, 3, 4}

In [8]:
conjunto.add("v")
conjunto

{0, 1, 2, 3, 4, 'v'}

In [9]:
conjunto.add("a")
conjunto

{0, 1, 2, 3, 4, 'a', 'v'}

In [10]:
conjunto.add("z")
conjunto

{0, 1, 2, 3, 4, 'a', 'v', 'z'}

In [11]:
grupo = {"Ruben", "Jenna", "Juan"}

In [12]:
"Hector" in grupo

False

In [13]:
"Jenna" in grupo

True

In [14]:
test = {"Ruben", "Ruben", "Ruben"}
test

{'Ruben'}

In [15]:
lista = [1,2,3,3,2,1]
lista

[1, 2, 3, 3, 2, 1]

In [16]:
# Convertimos una lista en un conjutno para eliminar los valores repetidos

lista2 = set(lista)
lista2

{1, 2, 3}

In [18]:
# Convertimos el conjunto de nuevo en una lista 

lista3 = list(lista2)
lista3

[1, 2, 3]

In [19]:
lista4 = [1,2,3,3,2,1]
lista4

[1, 2, 3, 3, 2, 1]

In [20]:
# Convertimos la lista en un conjunto y el conjunto en una lista de nuevo, pero en una sola linea

lista5 = list(set(lista4))
lista5

[1, 2, 3]