In [4]:
#  Sin usar el bucle for

numeros=[1,2,3,4,5,6,7,8,9,10]
indice = 0

while(indice < len(numeros)):
    print(numeros[indice])
    indice+=1

1
2
3
4
5
6
7
8
9
10

In [7]:
# Usando el bucle for

for numero in numeros:
    print (numero)

1
2
3
4
5
6
7
8
9
10

In [12]:
for numero in numeros:
    numero *= 10

In [14]:
numeros

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
indice = 0
numeros=[1,2,3,4,5,6,7,8,9,10]

for numero in numeros:
    numeros[indice] *= 10
    indice += 1
numeros

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [16]:
numeros=[1,2,3,4,5,6,7,8,9,10]

for indice, numero in enumerate(numeros):
    numeros[indice] *= 10
numeros

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [17]:
cadena = "Hola amigos"

for caracter in cadena:
    print(caracter)

H
o
l
a

a
m
i
g
o
s

In [18]:
for i,caracter in enumerate(cadena):
    cadena[i] = "*"

TypeError: 'str' object does not support item assignment

In [20]:
cadena2 = ""

for caracter in cadena:
    cadena2 += "*"

In [21]:
cadena2

'***********'

In [22]:
cadena

'Hola amigos'

In [23]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
range(10)

range(0, 10)

In [26]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
numero = 6

sumatorio = 0

# Completa el ejercicio aqu√≠

for i in range(numero+1):
       if i % 5 != 0 and i % 7 != 0:
        print(sumatorio)
        sumatorio += i

0
1
3
6
10

In [35]:
multiplos = []

# Completa el ejercicio
numero = int(input("Introduce un numero enmtre 1 y 9: "))

while (numero<1 or numero >9):
    numero = int(input("Introduce un numero enmtre 1 y 9: "))
    
    
    #                   min     max   salto (suma de x en x nuemeros)
multiplos = list(range(numero, 101, numero))

print(multiplos)

Introduce un numero enmtre 1 y 9: 3
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]